@model IFFCO.NERRS.Web.ViewModels.NERSC03ViewModel

@{
    ViewData["Title"] = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/js/Common.js"></script>

<script>
    function fnGet_Data() {
        debugger;
        //var QuarterCode = $('#QuarterCode option:selected').val();
        var OccupantCode = $('#OccupantCode option:selected').val();
        var PlantCD = $('#PlantCD').val();

        if (typeof PlantCD == "undefined" || PlantCD == null || PlantCD.trim() == "") {
            CommonAlert("Alert", "Select Plant CD", null, null, "Warning");
            return false;
        } else if (OccupantCode == "") {
            CommonAlert("Alert", "Select Quarter", null, null, "Warning");
            return false;
        
        } else {
            PageNotLoad('@Url.Action("Index", "NERSC03", new { area = "M1" })?PlantCD=' + PlantCD +  '&OccupantCode=' + OccupantCode, this);
           
       
        }
    }

    function Validate() {
        if ($('#PlantCD').val() == "") {
            CommonAlert("Alert", "Select Plant CD", null, null, "Warning");
            return false;
        } else if ($('#OccupantCode').val() == "") {
            CommonAlert("Alert", "Select Quarter type", null, null, "Warning");
            return false;
        } else {
            return true;
        }
    }

    function SaveAccessToDB() {
        debugger;
        if (confirm("Do you want to Save Data?")) {
            $(".modalLoader").css("display", "block");
            setTimeout(function () {
                debugger;
                var formData = new FormData();
                var hasValidData = false;
                var isInvalidDataFound = false; // Flag to check for invalid data

                formData.append("nERSC03ViewModel.PlantCD", $('#PlantCD option:selected').val());
                formData.append("nERSC03ViewModel.OccupantCode", $('#OccupantCode option:selected').val());
                formData.append("nERSC03ViewModel.VacancyDate", $('#vacancyDateId ').val());

               
                cnt = 0;

                $("#HrmsHrdGrid tbody tr").each(function (index, e) {
                    var row = $(this);
                    var isChecked = row.find("td:eq(10) input[type='checkbox']").is(":checked");
                    //var slno = row.find("td:eq(3)").val();
                   var slno = row.find("td:eq(3)").text().trim();
                    if (slno === "") {
                        slno = 1; // Set to 1 if it's empty or undefined
                    } else {
                        slno = parseInt(slno) + 1; // Increment the existing SlNo
                    }

                    var vendorCode = row.find("td:eq(2) select option:selected").val();
                    var occupantType = row.find("td:eq(8) select option:selected").val();
                    var rentType = row.find("td:eq(9) select option:selected").val();

                    if (isChecked && occupantType && rentType) {
                        hasValidData = true;
                       
                        formData.append('nERSC03ViewModel.listVwAonlaNonEmpAllotStatus[' + cnt + '].VendorCode', vendorCode);
                        formData.append('nERSC03ViewModel.listVwAonlaNonEmpAllotStatus[' + cnt + '].SlNo', slno);
                        formData.append('nERSC03ViewModel.listVwAonlaNonEmpAllotStatus[' + cnt + '].AllotmentNo', row.find("td:eq(4)").text().trim());
                        formData.append('nERSC03ViewModel.listVwAonlaNonEmpAllotStatus[' + cnt + '].OccupantType', occupantType);
                        formData.append('nERSC03ViewModel.listVwAonlaNonEmpAllotStatus[' + cnt + '].RentType', rentType);

                        cnt = cnt + 1;
                    } else if (isChecked && (!occupantType || !rentType)) {
                        CommonAlert("Alert", "Please select both Occupant Type and Rent Type for checked rows.", null, null, "Warning");
                        $(".modalLoader").css("display", "none");
                        return false;
                    }
                });

               

                if (!hasValidData) {
                    CommonAlert("Alert", "No valid data to save. Please check your selections.", null, null, "Warning");
                    $(".modalLoader").css("display", "none");
                    return false;
                }

                $.ajax({
                    type: "POST",
                    url: "@Url.Content("~")/M1/NERSC03/Add",
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    dataType: "json",
                    error: function (xhr, response, error) {
                        CommonAlert("Error", response, null, null, "error");
                    },
                    success: function (response) {
                        var url = window.location.origin + "/" + response.areaName + "/" + response.selectedMenu + "/" + response.selectedAction;
                        if (response.isAlertBox) {
                            if (response.errorMessage != "") {
                                CommonAlert(response.alert, response.message, SubmitPopup, '/M1/NERSC03/Index', "error");
                            } else {
                                CommonAlert(response.alert, response.message, SubmitPopup, '/M1/NERSC03/Index', "alert", "create");
                            }
                        } else {
                            $(".modalLoader").hide();
                            GetIndex(url);
                        }
                    }
                });
            }, 10);
        }
    }

   
    $(document).ready(function () {
        $('#HrmsHrdGrid').DataTable();
        var exportfilename = $("#PlantCD").val() + "-RentList(" + $("#OccupantCode").val() + ")";
        BindGridWithIdCol([0, 1, 2, 3, 4, 5, 8, 9, 10], [0, 1, 2, 3, 4, 5, 8, 9, 10], '#HrmsHrdGrid', exportfilename);
        BootStrapCalender(".datetime");
        AddNewURLBuilder();
    });

    $("#PlantCD").change(function () {
        AddNewURLBuilder();
    });

    function AddNewURLBuilder() {
        var PlantCD = $('#PlantCD').val();
        $("#addnew").attr("href", "M1/NERSC03/Create/" + PlantCD);
    }

    // function RentLOV_pop() {
    //    debugger;
    //    $(".modalLoader").css("display", "block");
    //    setTimeout(function () {
    //        CommonAjax('/M1/NERSC01/RentLOVBindJSON', "GET", false, "application/json", false, BindDropDownWithSelectAsNull, "#OccupantCode", { OccupantType: $('#OccupantList').val() });
    //        $(".modalLoader").hide();
    //    }, 10);
    //}

    function addRow(button) {
   
    var currentRow = $(button).closest('tr');
    
    // Clone the current row
    var newRow = currentRow.clone();

     // Reset the values of input fields in the new row
    newRow.find('input[type="text"]').val('');      // Clear text inputs
    newRow.find('input[type="date"]').val('');      // Clear date inputs
    newRow.find('select').prop('selectedIndex', 0); // Reset select boxes to the first option
    newRow.find('input[type="checkbox"]').prop('checked', false); // Uncheck checkboxes

     // Specifically clear the Occupancy Date and Quarter Rent fields
    newRow.find("td:eq(6)").text(''); // Assuming Occupancy Date is in the 7th column (index 6)
    newRow.find("td:eq(9) select").prop('selectedIndex', 0); // Assuming Quarter Rent is in the 10th column (index 9)

     // Remove the disabled attribute from the Quarter Rent field in the new row
     newRow.find("td:eq(9) select").prop('disabled', false);

    // Find the current highest SlNo
    var highestSlNo = 1;
    $("#HrmsHrdGrid tbody tr").each(function () {
        var slNo = parseInt($(this).find("td:eq(3)").text().trim());
        if (!isNaN(slNo) && slNo > highestSlNo) {
            highestSlNo = slNo;
        }
    });

    // Increment the SlNo for the new row
    var newSlNo = highestSlNo + 1;
    newRow.find("td:eq(3)").text(newSlNo);


    // Insert the new row right after the current row
    newRow.insertAfter(currentRow);
}


    function removeRow(button) {
        $(button).closest('tr').remove();
    }
</script>

<div class="plcholder-cn">
    <div class="table-responsive">
        <div class="table-area">
            <div class="table-title">
                <div class="btn-area-tbl"></div>
            </div>
            <div class="table-wrapper">
                <div class="table-con">
                    <div class="tableUp">
                        <div class="content-box">
                            <h3 class="sub-heading1"><span>Allotment details</span></h3>
                            <div class="m-form">
                                <form asp-area="M1" asp-controller="NERSC01" asp-action="Query" method="post" onsubmit="return Validate();">
                                    <div class="m-form">
                                        <div class="m-form-bx">
                                            <div class="row form-sm">
                                                <div class="col-sm-1 col-md-2">
                                                    <label class="m-lbl1 m-lbl2">Plant Code</label>
                                                </div>
                                                <div class="col-sm-2 col-md-2">
                                                    <select id="PlantCD" name="PlantCD" class="form-control" asp-items="@(new SelectList(Model.UnitLOVBind, "Value", "Text", Model.PlantCD))"></select>
                                                </div>
                                                @*<div class="col-sm-2 col-md-2">
                                                    <label class="m-lbl1 m-lbl2">Occupant List</label>
                                                </div>
                                                <div class="col-sm-2 col-sm-2">
                                                    <select id="OccupantCode" name="OccupantCode" asp-for="@Model.OccupantCode" class="form-control">
                                                        <option value="C">Shutdown</option>
                                                    </select>
                                                </div>*@
                                                <div class="col-sm-2 col-md-2">
                                                    <label class="m-lbl1 m-lbl2">Quarter List</label>
                                                </div>
                                                <div class="col-sm-2 col-md-2">
                                                    <select id="OccupantCode" name="OccupantCode" class="form-control" asp-items="@(new SelectList(Model.QuarterLOVBind, "Value", "Text", Model.OccupantCode))">
                                                        <option value="">--SELECT--</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="btn-area1">
                                            <button type="button" id="save" onclick="fnGet_Data()" class="m-btn-1 btn-success">Fetch Rent details</button>
                                            <input type="reset" id="save" class="m-btn-1 btn-warning" value="Reset" />
                                        </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-con">
                    <div class="tableUp">
                        <div class="pd-form-area">
                            <div class="btn-area-tbl">
                               
                               @* <button type="button" class="btn btn-primary" onclick="addRow()">Add Row</button>*@
                               

                            </div>
                            <table class="table table-striped table-hover" id="HrmsHrdGrid">
                                <thead>
                                    <tr>
                                        <th>Quarter Type</th>
                                        <th>Quarter No</th>
                                        <th>Vendor Name</th>
                                        <th>SNo</th>
                                        <th>Allotment No</th>
                                        <th>Allotment Date</th>
                                        <th>Occupany Date</th>
                                        <th>Vacancy Date</th>
                                        <th>Occupant</th>
                                        <th>Quarter Rent</th>
                                        <th> </th>
                                        <th> </th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody id="nonEmpData">
                                    @foreach (var item in Model.listVwAonlaNonEmpAllotStatus)
                                    {
                                        <tr id="tr_@(item.UnitCode)_@(item.AllotmentNo)" data-ischange="0" style="@(!string.IsNullOrEmpty(item.RentType) ? "background-color:#e1ad01;" : "")">
                                            <td>@Html.DisplayFor(modelItem => item.QuarterCategory)</td>
                                            <td>@Html.DisplayFor(modelItem => item.QuarterNo)</td>
                                            <td>
                                                <select id="VendorTypeLOV" class="form-control" asp-items="@(new SelectList(Model.VendorLOVBind, "Value", "Text", item.VendorCode))">
                                                    <option value="">--SELECT--</option>
                                                   
                                                </select>
                                            </td>
                                          
                                            <td>
                                                <input type="text" style="width:30px;" value="@Html.DisplayFor(modelItem => item.SlNo)" />
                                            </td>

                                            <td>@Html.DisplayFor(modelItem => item.AllotmentNo)</td>
                                            <td>@Html.DisplayFor(modelItem => item.ApprovedDate)</td>
                                            <td id="td_Rent_@(item.UnitCode)_@(item.AllotmentNo)">
                                                <input type="date" class="form-control" value="type@Html.DisplayFor(modelItem => item.OccupancyDate)" />
                                                </td>
                                            <td>
                                               
                                                <input type="date" id="vacancyDateId" class="form-control" asp-for="@Model.VacancyDate" value="@Model.VacancyDate.ToString("dd-MM-yyyy")">
                                            </td>
                                            <td>
@*
                                                <select id="OccupantTypeLOV" class="form-control" asp-items="@(new SelectList(Model.ShutDownOccupantLOVBind, "Value", "Text", Model.OccupantCode))">
                                               *@
                                                <select id="OccupantTypeLOV" class="form-control" disabled>
                                                    <option value="1010">ShutDown</option>
                                                </select>
                                            </td>
                                            <td>
                                                @if (!string.IsNullOrEmpty(item.RentType))
                                                {
                                                    <select id="RentTypeLOV" class="form-control" asp-items="@(new SelectList(Model.ShutDownRentTypeLOVBind, "Value", "Text", item.RentType))" disabled>
                                                        <option value="">--SELECT--</option>
                                                    </select>
                                                }
                                                else
                                                {
                                                    <select id="RentTypeLOV" class="form-control" asp-items="@(new SelectList(Model.ShutDownRentTypeLOVBind, "Value", "Text", item.RentType))">
                                                        <option value="">--SELECT--</option>
                                                    </select>
                                                }
                                            </td>
                                            
                                            <td>
                                                <input type="checkbox" class="save-checkbox" data-id="@item.AllotmentNo" />
                                            </td>
                                            <td><button type="button" class="btn btn-danger" onclick="removeRow(this)">Remove</button></td>
                                            <td>
                                                <button type="button" class="btn btn-primary" onclick="addRow(this)">
                                                    <i class="fas fa-plus"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="btn-area1 btn-area-fixed">
                                <button type="button" class="m-btn-1 save @Model.Insert" onclick="SaveAccessToDB()">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="commonModalbinder" class="modal" style="display:none!important;z-index:99999999 !important;"></div>


<script>
    function changeRowColor(row) {
        // Remove the background color from all rows
        var rows = document.getElementById('nonEmpData').getElementsByTagName('tr');
        for (var i = 0; i < rows.length; i++) {
            rows[i].style.backgroundColor = '';
        }

        // Set the background color of the clicked row
        row.style.backgroundColor = '#c0c0c0'; // Change this color to whatever you prefer
    }
</script>